<div class="form-group">
  <label>Search</label>
  <div>
    <input type="text" placeholder="Search categories" [(ngModel)]="searchTerm" (ngModelChange)="modelChanges()" />
    <button [disabled]="searchTerm.length < 3" (click)="onSearchClick()">Search</button>
  </div>
</div>
<dar-categories-list [categories]="categories$ | async"></dar-categories-list>
